@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    text-decoration: none;
    box-sizing: border-box;   
}